.sel-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
    background-color: white;
}
.sel-container p {
    margin: 0.5rem 0;
    font-weight: 500;
    font-size: 1.4rem;
    background-color: #fff;
}
.select {
    height: 2.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    padding: 0 1rem;
    background-color: #fff;
}
.select:hover {
    outline: 1px solid black;
    background-color: #fff;
    color: black;
}
.error {
    border-color: red;
    outline: red;
}

.error_msg {
    color: red;
    margin: 0.2rem 0;
    font-weight: 400;
}