.ftr{
    z-index: 1;
    display: flex;
    height: 5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    flex-direction: column;
    margin-top: auto;
    background-color: #181818;
    border-top: 1px solid #282828;
}
