.ftr{
    z-index: 1;
    position: fixed;
    position: -webkit-sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 100%;
    margin-top: auto;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal; */
    background-color: #181818;
    border-top: 1px solid #282828;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(90deg,#af2896,#509bf5);

    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.ftr-container{
    padding: 11px 24px 7px 15px;
    align-items: center;
    /* background-image: -webkit-gradient(linear,left top,right top,from(#af2896),to(#509bf5)); */
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 1;


    /* display: -webkit-box;
    display: -ms-flexbox; */
    /* -ms-flex-direction: row; */
    /* -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    

    user-select: none; */
}
.ftr-content
{
    /* background-image: linear-gradient(90deg,#af2896,#a350f5); */
    background-image: linear-gradient(90deg,#af2896,#9448c3);
    margin-left: 24px;
    color: white;
    cursor: pointer;
}
.ftr-line{
    /* font-size: 0.75rem; */
    box-sizing: border-box;
    margin-top: -2px;
    /* -webkit-tap-highlight-color: transparent; */
    margin-block: 0px;
    font-size: 0.925rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    /* color: inherit; */
    background-image: linear-gradient(90deg,#af2896,#9448c3);
    padding-bottom: 2px;
    padding-top: -10px;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ftr-para{
    background-image: linear-gradient(90deg,#af2896,#9448c3);
        box-sizing: border-box;
        /* -webkit-tap-highlight-color: transparent; */
        margin-block: 0px;
        margin-top: 5px;
        font-size: 1.2rem;
        font-weight: 500;

        font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
        /* color:inherit; */
}

.signupbtn{
    background-color: #509bf5;
    /* background-image: linear-gradient(90deg,#af2896,#509bf5); */
    box-sizing: border-box;
    /* -webkit-tap-highlight-color: transparent; */
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    /* background-color: transparent; */
    border: 0px;
    border-radius: 500px;
    display: flex;
    position: relative;
    text-align: center;
    /* vertical-align: middle; */
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    /* min-inline-size: 0px; */
    align-self: center;
}
.span{

    position: relative;
    background-color: var(--background-base,#ffffff);
    margin-right: 30px;
    /* color: var(--text-base,#000000); */
    display: flex;
    border-radius: 500px;
    font-size: inherit;
    min-block-size: 48px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-block: 8px;
    padding-inline: 52px;

    -webkit-box-flex: 1;
    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    white-space: nowrap;
}
 
 