.like_filled {
    color: var(--primary);
    width: 2.2rem;
    height: 2.2rem;
}
.like_outlined {
    color: white;
    width: 2.2rem;
    height: 2.2rem;
}

.like_outlined:hover {
        color: white;
    }