@font-face{
    font-family: "Circular sp";
    src:url("../../assets/Circular/CircularStd-Bold.otf") format("opentype");
}
@font-face {
    font-family: "CircularSpTitle";
    src: url("../../assets/CircularFontFamily/Gotham-Bold.otf") format("opentype");
}
@font-face {
    font-family: "CircularSpfont";
    src: url("../../assets/CircularFontFamily/ProductSans-Bold.ttf") format("truetype");
}
:root{
    --font-circular-sp:"Circular sp";
    --font-circularSpTitle:"CircularSpTitle";
    --font-circularSpfont:"circularSpfont";
}

.f-circular-sp{
    font-family: var(--font-circular-sp);
    font-family:var(--font-circularSpTitle);
    font-family: var(--font-circularSpfont);
}
.playlist {
	width: 190.34px;
	height: 299.31px;
	padding: 0.8rem;
	background-color: black;
    font-family: 'CircularSpfont';
	margin:0.5rem;
	cursor: pointer;
    align-items: center;
    justify-content: center;
}
.playlist img {
		width: 165.36px;
		height: 165.36px;
        padding-bottom: 10px;
        border-radius: 5px;
        background-color: transparent;
        margin-left:10px;
		object-fit: cover;
        align-items: center;
    justify-content: center;
    }
.playlist p {
        overflow-y: hidden;  
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 32px;
        width: 165.36;
		font-size: 1.1rem;
		font-weight: 200;
        text-decoration: none;
        color: white;
        font-family: "CircularSpTitle";
        background-color: transparent;
		/* margin: 1rem 0; */
        margin-top: 10px;
        margin-left: 10px;
        padding-bottom: 10px;
}

.playlist span {
        line-height: 32px;
		font-size: 1rem;
		color: white;
        font-weight: 100;
		display: -webkit-box;
		overflow-x: hidden;
        font-family: "Circular sp";
        text-decoration: none;
        color: #b3b3b3;
        overflow-wrap: break-word;
        background-color: transparent;
	}
    /* .playlist span :hover{
        background-color: rgb(50, 45, 45);
    } */
	.playlist:hover {
		background-color:#282828;
	}