.fi-container {
	width: calc(100% - 2rem);
	border: 1px solid var(--white);
	border-radius: 0.5rem;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color: white;
}
.fi-container input {
    display: none;
    background-color: white;
}

.fi-container audio {
    width: 25rem;
    height: 4rem;
    border-radius: 0.1rem;
    background-color: white;
}

.fi-container img {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    background-color: white;
}
.success {
    width: 4rem;
    height: 4rem;
    color: var(--primary);
    background-color: white;
}
.progress_container {
    width: 11rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.progress {
    color: var(--primary) !important;
    background-color: white;
}

.progress_container p {
    position: absolute;
    left: 0;
    width: inherit;
    text-align: center;
    font-size: 1.2rem;
    background-color: white;
}